@import "utilities/variables";
@import "utilities/mixin";
//'Open Sans', sans-serif'Roboto', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');
//'Open Sans', sans-serif;'Roboto', sans-serif;'Ubuntu', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&family=Ubuntu&display=swap');


// selector universal con el "*" //

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

/* se agrega nav sticky */
/*decoracion de los titulos nav*/
header {
    background-color: black;
    width: 100%;
    clear: both;
    content: '';
    display: table;
    position: sticky;
    top: 0;
    z-index: 2;
    /*margen y espacio del menu nav */    
        nav {
            float: right;
            margin-right: 40px;
            ul {
                li {
                list-style: none;
                margin-left: 20px;
                float: left;
                padding: 30px 0;
            /*decoracion de los titulos nav*/        
                    a {
                    font-size: 20px;
                    text-decoration: none;
                    
                    font-weight: bold;
                    font-family: 'Open Sans', sans-serif;
                    font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }
    }


.menu img {
    width: 85px;
    height: 85px;
    border-radius: 25px;
    
}

h1 {
    font-size: 50px;
    color: $color-uno;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
aside{
.vinculos {
    display: flex;
    background-color: $color-tres;
    width: 170px;
    height: 150px;
    border: $color-uno solid 2px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
        ul {
            li :hover {
                font-size: 30px;
                color: white;}
                li :visited {
                    font-size: 30px;
                    color: whitesmoke;
                    }
            li{
                    a{
                   text-decoration: none;
                   color: blue;
                }
            } 
        }
    }
}
main{
    .info {
            margin: $medida-espacios;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-family: 'Ubuntu', sans-serif;
        }
}
p {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.col-8 {.scrollspy-example 
        ul {
            li {
            font-family: 'Open Sans', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-family: 'Ubuntu', sans-serif;
            }
        }     
}


/* aplicando mediaquery screen tomando nota de las medidas estandares */
/* phone 320x480 desktop 1680x1050 tablet 1024x768*/
/* mobile */
@media screen and (max-width: 600px) {
    body {
        background-color: $color-fondo;
    }
 
    .menu img {
        display: none;
    }
header{
    position: sticky;
        nav {        
            ul{
                margin-right: 0;
                 padding: 0;
                 display: flex;
                 color: #CBCBCB;
                 
                 li {
                    list-style: none;
                    margin:0;
                    padding: 15px;
                    display: flex;
                    color: #CBCBCB;
                    
                    a {
                        font-size: 15px;
                        display: flex;
                        text-decoration: none;
                        color: #CBCBCB;
                        font-weight: bold;
                        font-family: 'Open Sans', sans-serif;
                        font-family: 'Roboto', sans-serif;
                        box-shadow: 10px 5px 5px $color-dos;
                    }
                    
                }
             }

        }
    }      
 
    /* clase para bts */
    .bg-titulo {
        background-color: $color-fondo;
        color: $color-dos;
    }

    h1 {
        font-size: 50px;
        color: $color-dos;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .multimedia {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 25%);
        height: 25vh;
        margin: 2rem 2rem;
        gap: 2rem;
            div { 
                img {
                    @include medidas(100%, 100%);
                }
            }     
        }

    .mp4 {
        background-color: $color-fondo;
    }

    .fotos {
        background-color: $color-fondo;
    }

    .imagen-uno {
        grid-row: 1/3;
    }

    .imagen-dos {
        grid-row: 1/3;
    }

    .imagen-tres {
        grid-row: 1/3;
    }

    .imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 50%;
        margin: $medida-espacios;
        padding: $medida-espacios;
        gap: 20px;
            img {
                @include medidas(100%, 100%)
            }
        }

    .videos {
            video {
                width: 70%;
                 height: 70%;
            }
        }
    .detalles{
            ul{margin:2px;
                li{ 
                    color: $color-dos;
                    font-size: 17px;
                    font-family: 'Open Sans', sans-serif;
                    font-family: 'Roboto', sans-serif;
                    font-family: 'Ubuntu', sans-serif;
                    }
                }
            p{
                margin: 3px;
                color: $color-dos;
            }
        }
    

    /* scroll texto y titulo  */
    .col-8 {
        background-color: $color-fondo;
        .scrollspy-example {
            h5{
                color: $color-dos;
            }
             h4 {
                color: $color-dos;
                border-bottom: 2px white solid;}
                    ul {
                    color: $color-dos;
                        li{
                        color:$color-dos;
                    }
            }
        }
    }

    .title-somos {
        font-size: 100px;
        color: whitesmoke;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: $color-fondo;
    }

    /* grupo indice */
    .row {
        background-color: $color-fondo;
        .col-4 {
            .list-group {
                        a {
                        background-color: black;
                        color: white;
                        
                    }   
                }
            }
        }
main{
    .mapa{ 
        .ubi{
            display: flex;
            margin: 5px;
            }
        }
        .contact {
                margin: 0;
                .form {
                    margin: 0;
                    .formulario {
                        margin: 0;
                    }
                }       
            }    
    }
    p{
        color:$color-dos;
    }
}//fin mediaquery mobile

/*tablet*/
@media screen and (min-width: 601px) and (max-width:1000px) {
    body {
        background-color: $color-fondo;
    }
    .menu img {
        display: flex;
        width: 60px;
        height: 70px;
        border-radius: 25px;
        float: left;
    }
    nav {
        float: right;
        display: flex;
        ul { 
            display: flex;
            li {
                display: flex;
                list-style: none;
                margin-left: 20px;
                float: left;
                padding: 30px 0;
        /*decoracion de los titulos nav*/        
                a {
                    display: flex;
                    font-size: 20px;
                    text-decoration: none;
                    color: #CBCBCB;
                    font-weight: bold;
                    font-family: 'Open Sans', sans-serif;
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
    }


    /* clase para bts */
    .bg-titulo {
        background-color: $color-fondo;
        color: $color-dos;
    }
main{
    h1 {
        font-size: 50px;
        color: $color-dos;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}
    //contenedor para texto seguido a vinculos
    aside{
        .contenedor {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    gap: 20px;
                }
        }

    .multimedia {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 25%);
        height: 25vh;
        margin: 2rem 2rem;
        gap: 2rem;
                div {
                    img {
                    @include medidas(100%, 140%);
                     }
                }        
        }

    .mp4 {
        background-color: $color-fondo;
    }

    .fotos {
        background-color: $color-fondo;
    }

    .imagen-uno {
        grid-row: 1/3;
    }

    .imagen-dos {
        grid-row: 1/3;
    }

    .imagen-tres {
        grid-row: 1/3;
    }

    .imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 50%;
        margin: $medida-espacios;
        padding: $medida-espacios;
        gap: 20px;
            img {
                @include medidas(100%, 100%)
            }
    }

    .videos video {
        width: 70%;
        height: 70%;
    }
    .detalles{
        ul{
            li{
                color: $color-dos;
            }
        }
}

    p {
        color: $color-dos;
    }

    /* scroll texto y titulo  */
    .col-8 {
        background-color: $color-fondo;
        .scrollspy-example {
                h5{
                color: $color-dos;
                }
                h4 {
                    color: $color-dos;
                    border-bottom: 2px white solid;}
                        ul {
                            li{
                                color: $color-dos;    
                        }
                        
                    }
                }
            }
      
    .title-somos {
        font-size: 100px;
        color: whitesmoke;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: $color-uno;
    }
    /* grupo indice */
    .row {
        background-color: $color-fondo;
        .col-4 {
            .list-group {
                a {
            background-color: black;
            color: white;
                }
            }
        }    
    }

} //fin mediaquery tablet

/* desktop */
@media screen and (min-width: 1001px) {
    nav {
        float: right;
        margin-right: 40px;
        ul {
            li {
            list-style: none;
            margin-left: 20px;
            float: left;
            padding: 30px 0;
        /*decoracion de los titulos nav*/        
                a {
                font-size: 20px;
                text-decoration: none;
                color: $color-uno;
                font-weight: bold;
                font-family: 'Open Sans', sans-serif;
                font-family: 'Roboto', sans-serif;
                }
            }
        }
    }


    //contenedor para texto seguido a vinculos
    .contenedor {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 20px;
    }

    /* se generan clases para page con bts modificando color fondo y texto  */
    .bg-titulo {
        color: $color-uno;
    }

    .detalles {
        img {
        width: 250px;
        height: 200px;
        float: left;}
            p {
            font-size: 25px;
            background-color: $color-uno;
            color: whitesmoke;
            margin: 0 0 0 10px;}
            ul{
                li{font-size: 25px;
                    background-color: $color-uno;
                    color: whitesmoke;
                    margin: 0 0 0 10px;
                    font-family: 'Open Sans', sans-serif;
                    font-family: 'Roboto', sans-serif;
                    font-family: 'Ubuntu', sans-serif;

                }
            }
        
    }

    .multimedia {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px;
        gap: 100px;
        padding: 5px;
                div{ 
                    img {
                        @include medidas(100%, 100%);
                        padding: $medida-espacios;
                    }
                }
    }

   
    .imagen-uno {
        grid-row: 1/4;
    }

    .imagen-dos {
        grid-row: 1/4;
    }

    .imagen-tres {
        grid-row: 1/4;
    }

    .imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 50%;
        margin: $medida-espacios;
        padding: 5px;
        gap: 20px;
                img {
                    height: 100%;
                    width: 100%;
                }

    }
    .videos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 50%;
        margin: $medida-espacios;
        padding: 20px;
        gap: 20px;
            video {
                width: 100%;
                height: 100%;
            }
    }

    .col-8 {
        background-color: $color-dos;
        .scrollspy-example {
                            h4 {
                            color: black;
                            border-bottom: 2px black solid;
                            }
                        }
    }

    .title-somos {
        font-size: 200px;
        color: $color-uno;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
} //fin mediaquery desktop

/* segmento contacto */
main{
    .contact {
    min-height: 35vh;
    display: flex;
    width: 100%;
    float: left;
    max-width: 400px;
    margin: 20px;
    }
    .form {
        width: 100%;
        max-width: 400px;
        height: 50%;
        max-height: 400px;
        padding: 10px;
        display: flex;}
            .formulario {
                width: 100%;
                display: grid;
                gap: 10px;
                grid-auto-columns: 100%;
                margin:10px
            }
            .form-input {
                font-size: 15px;
                }
                .form-text {
                    font-size: 16px;
                }
                //mapa
                .ubi {
                    width: 100%;
                    padding: 25px;
                    margin-left: 20px;
                    }
        }
    
/* footer (los iconos son traidos desde bootstrap icons) */
.redsocial {
    align-items: center;
    text-align: center;
    padding: 30px;
    justify-content: space-evenly;
    background-color: whitesmoke;
    font-size: 20px;
}

footer {
    margin: 20px;
        p {
        padding: $medida-espacios;
        color: $color-tres;
    }
}

/* caja de iconos  */
.redsocial .iconos {
    @include flex;
}

.redsocial .iconos a :hover {
    color: $color-tres;
    font-size: 30px;
}
